:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #A2B5BB;
    --light : #EEE ;
    --pink: #ec4899;
    --red: #EB1D36;

}

*{
    box-sizing: border-box;
    margin: 0;
}

.aboutPageContainer{
    height: 100vh;
    width: 100vw;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "about about titleBox"
                         "img2 textContainer titleBox"
                         "img2 textContainer img1";
    justify-content: center;
    align-items: center;
}

#about{
    grid-area: about;
    background-color: var(--red);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    color: var(--grey);
    border-bottom-right-radius: 10px;
}

.titleBox{
    grid-area: titleBox;
    background-color: var(--grey);
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: var(--red);

}

.titleBox > h2{
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.titleBox > p{
    padding: 20px;
    width: 80%;
    text-align: center;
}

.imgContainer1{
    grid-area: img1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: flex;
}

#img1{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 10px;
}

#img2{
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.imgContainer2{
    display: flex;
    grid-area: img2;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.textContainer{
    color: var(--red);
    grid-area: textContainer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.textContainer > h2{
    font-size: 60px;
    padding-top: 50px;
    margin-bottom: 20px;
}

.textContainer > p{
    padding: 20px;
    width: 80%;
    text-align: center;
}


@media (max-width: 576px) {
    
    .aboutPageContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    
    #about{
        display: flex;
        width: 100%;
        height: 230px;
        justify-content: center;
        align-items: center;
        font-size: 150px;
    }

    .titleBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .textContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgContainer2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

