  :root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #A2B5BB;
    --light : #EEE ;
    --pink: #ec4899;
    --red: #EB1D36;

}

*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  
}

body{
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}


.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: var(--grey);
  width: 21cm;
  height: 29.7cm;
  border: 1px black solid;
  grid-template-areas: "roganPic title title"
                       "roganPic title title"
                       "roganPic title title"
                       "roganPic personal personal"
                       "roganPic personal personal"
                       "roganPic personal personal"
                       "contactDetails workHistory workHistory"
                       "contactDetails workHistory workHistory"
                       "contactDetails workHistory workHistory"
                       "workRefs academicHistory academicHistory"
                       "workRefs academicHistory academicHistory"
                       "workRefs academicHistory academicHistory";

}

.roganPic{
  grid-area: roganPic;
  width: 7cm;
  height: 14.85cm;

}

#roganPic{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.contactDetails, .workRefs{
  grid-area: contactDetails;

  width: 7cm;
  height: 7.425cm;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--red);
}

.contactDetails > ul,
.workRefs > div       {
  color: var(--grey);
  list-style: none;
}



#contactList > li{
  margin-bottom: 7px;
}

#contacth2, #workRefh2{
  width: 100%;
  height: 15%;
  /* border: 1px solid black; */
  font-size: 36px;
  justify-content: center;
  text-align: center;
  color: var(--grey);
  margin: 20px 0 0 0;
}

.workRefs {
  grid-area: workRefs;
  width: 7cm;
  height: 7.425cm;
  background-color: var(--red);
}

#workref1 {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
  width: 100%; */
  
  padding: 20px;
  height: 210px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#workref1 > p{

  margin: 0;
  font-size: 13px;
  
  
}

.title {
  grid-area: title;
  width: 14cm;
  height: 7.425cm;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  color: var(--red);
}

.title > h1 {
  font-size: 48pt;
  font-weight: 900;
  width: 400px;
  margin-bottom: 0px;
}

.title > h3{
  font-size: 24pt;
  font-weight: 900;
  width: 95%;
  padding-bottom: 20px;
  padding-top: 2px;
  margin: 20px 20px 20px 0;
  border-bottom: 5px solid var(--red);
  justify-content: flex-start;
}

.personalSkillsContainer{
  grid-area: personal;
  width: 14cm;
  height: 7.425cm;
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
}

.personalSummary{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--grey);
  color: var(--red);
}

.personalSummary > h2 {
  font-size: 47px;
  margin: 0;
  line-height: 45px;
  padding: 10px;
}

.personalSummary > p {
  font-size: 16px;
  padding-left: 10px;
}

.coreSkills{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:first baseline;
  align-items: flex-start;
  background-color: var(--grey);
  color: var(--red);
}

.coreSkills > h2{
  padding-left: 30px;
  font-size: 47px;
  margin: 0;
  height: 30px;
  margin-bottom: 15px;
}

#skillsList{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-left: 15px;
  list-style: circle;
  
}

.workHistory{
  grid-area: workHistory;
  width: 14cm;
  height: 7.425cm;
  background-color: var(--grey);
  padding: 10px;
}

.workHistoryGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 40%);
  grid-template-areas: "whbox1 whbox3 whbox3"
                       "whbox2 whbox4 whbox4";
}

#whbox1{
  grid-area: whbox1;
  color: var(--red);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: first baseline;
  align-items: flex-start;
}

#whbox1 > h3{
  font-size: 24px;
  margin: 0;
}


#whbox1 > p{
  font-size: 20px;
  margin: 0;
  padding: 0 10px 10px 10px;
}




#whbox2{
  color: var(--red);
  grid-area: whbox2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: first baseline;
  align-items: flex-start;
}

#whbox2 > h3{
  margin: 0;
  font-size: 24px;
  padding-top: 10px;
}


#whbox3{
  color: var(--red);
  grid-area: whbox3;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
  font-size: 15px;
  
} 

/* #whbox3List > li::marker{
  font-size: 10px;
} */

#whbox3 > ul{
  height: 100%;
  width: 100%;
  padding: 0 0 0 60px;
}


#whbox4{
  color: var(--red);
  grid-area: whbox4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
  justify-content: first baseline;
  align-items: flex-start;
  font-size: 15px;
}

.workHistory > h2 {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 47px;
  padding: 0 0 0 10px;
  color: var(--red);
}

.academicHistory{
  grid-area: academicHistory;
  width: 14cm;
  height: 7.425cm;
  background-color: var(--grey);
}

.academicHistory > h2 {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 47px;
  padding: 0 0 0 10px;
  color: var(--red);
}


.academicHistoryGrid{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 40%);
  grid-template-areas: "ahbox1 ahbox3 ahbox3"
                       "ahbox2 ahbox4 ahbox4";
}

#ahbox1{
  grid-area: ahbox1;
  color: var(--red);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: first baseline;
  align-items: flex-start;
}

#ahbox1 > h3{
  font-size: 24px;
  margin: 0;
}


#ahbox1 > p{
  font-size: 20px;
  margin: 0;
  padding: 0 10px 10px 10px;
}




#ahbox2{
  color: var(--red);
  grid-area: ahbox2;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  justify-content: first baseline;
  align-items: flex-start;
}

#ahbox2 > h3{
  margin: 0;
  font-size: 24px;
  padding-top: 10px;
}


#ahbox3{
  color: var(--red);
  grid-area: ahbox3;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 10px;
} 

#ahbox3List > li::marker{
  font-size: 10px;
}

#ahbox3 > ul{
  height: 100%;
  width: 100%;
  padding: 0 0 0 60px;
  font-size: 18px;
}


#ahbox4 > ul{
  height: 100%;
  width: 100%;
  /* padding: 0 0 0 60px; */
  font-size: 18px;
}


#ahbox4{
  color: var(--red);
  grid-area: ahbox4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 20px;
  padding-top: 0px;
  justify-content: first baseline;
  align-items: flex-start;
}

.academickHistory > h2 {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 47px;
  padding: 0 0 0 10px;
  color: var(--red);
}


